<h2><%= t("devise.registrations.edit.title", resource: t("activerecord.models.user")) %></h2>

<%= render 'form' %>

<h3><%= t("devise.registrations.edit.cancel_account") %></h3>

<div>
  <%= t("devise.registrations.edit.unhappy") %>
  <%= button_to t("devise.registrations.edit.cancel_account"), registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %>
</div>

<%= link_to t("devise.registrations.edit.back"), :back %>