<h1><%= @user.email %>さんのマイページ</h1>

<p>登録日：<%= @user.created_at.to_date %></p>
<p>最終更新：<%= @user.updated_at.to_date %></p>

<%= link_to 'プロフィール編集', edit_user_registration_path %><br>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<% if @user.avatar.attached? %>
  ここに画像が入ります
  <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200]) if @user.avatar.attached? %>
<% else %>
  <%= image_tag "default-avatar.png" %>
<% end %>

<p>名前：<%= @user.name %></p>
<p>誕生日：<%= @user.birthday %></p>
<p>性別：<%= @user.gender %></p>
<p>自己紹介：<%= @user.introduction %></p>

<%= link_to "ホームに戻る", root_path %>